@use '../../styles/constants/colors';
@use '../../styles/mixins/flexbox';

.contents {
  flex: 1;
  @include flexbox.flexbox(start, center);
  flex-direction: column;

  .taskBox {
    width: 100%;
  }
}
